.background{
	-fx-background-color: white;
}

.transparent-background{
    -fx-background-color: black;
    -fx-opacity: 0.5;
}

.grey-background{
    -fx-background-color: #808080;
}

.light-grey-background{
    -fx-background-color: #C0C0C0;
}



.title-image{
    -fx-image: url("../image/draw_something_logo.png");
}

. background-border{
    -fx-border-color: black ;
    -fx-border-width: 1;
}

//buttons for proceeding to next page or opening stuff?
.button-text{
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

//for any close buttons
.button-close-img{
    -fx-background-image: url("../image/close-white-32.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70% 70%;
    -fx-background-position: center;
}

//any button that goes to another page
.button-proceed{
    -fx-background-color: #32CD32;
}

.button-proceed:hover{
    -fx-background-color: #28a428 ;
}

.button-proceed:pressed{
    -fx-background-color:  #1e7b1e ;
}

//button for refreshing the lobby list
.button-refresh-img{
    -fx-background-image: url("../image/refresh-32.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60% 70%;
    -fx-background-position: center;
}
.button-red{
    -fx-background-color: #ff4000;
}

.button-red:hover{
    -fx-background-color: #cc3300;
}

.button-red:pressed{
    -fx-background-color: #992600;
}

//button for submitting
.button-blue{
    -fx-background-color : #1e90ff;
}

.button-blue: hover{
    -fx-background-color : #0080ff;
}

.button-blue: pressed{
    -fx-background-color : #0066cc;
}

//chat box css (Ah tung add anything you want here)

.chat-text{
    -fx-text-fill: black;
    -fx-font-size: 20px;
}